<a href="https://colab.research.google.com/github/geovanasiqueira/ENG_20242/blob/main/24-10-24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.
lista_numeros = [1,2,3,4,5]
for numero in lista_numeros:
   print(numero * 2)

2
4
6
8
10

In [7]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.
lista_frutas = ["maçã", "banana", "laranja", "uva"]
lista_frutas.remove("banana")
lista_frutas.append("melancia")
print(lista_frutas)

['maçã', 'laranja', 'uva', 'melancia']

In [9]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.
minha_lista = {10,25,2,35,40}
maior_valor = max(minha_lista)
print(maior_valor)
menor_valor = min(minha_lista)
print(menor_valor)

40
2

In [11]:
#4 Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.
minha_lista = ["alice", "livia", "ana", "nicolly"]
nova_lista = []
for palavra in minha_lista:
   nova_lista.append(len(palavra))
print(nova_lista)

[5, 5, 3, 7]

In [21]:
#5 Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.
minha_lista = {7,21,9,15,98,6}
nova_lista = sorted(minha_lista)
print(nova_lista)

[6, 7, 9, 15, 21, 98]

In [43]:
#6 Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.
meus_numeros = (1,2,3,4,5)
print(meus_numeros[1])
meus_numeros[2] = 8

2

TypeError: 'tuple' object does not support item assignment

In [64]:
#7Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.
numeros_tupla = (5,9,15,20)
soma = sum(numeros_tupla)
print(soma)

49

In [71]:
#8 Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.
numeros_tupla = (2,3,4,5)
primeiro_numero = numeros_tuplas[0]
ultimo_numero = numeros_tuplas[-1]
print(primeiro_numero)
print(ultimo_numero)

5
6

In [72]:
#9 Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.
minha_lista = ("a", "b", "c", "d")
minha_tupla = tuple(minha_lista)
print(type(minha_tupla))

<class 'tuple'>

In [73]:
 #10 Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.
minha_tupla = (1,2,3)
if 3 in minha_tupla:
   print("O numero 3 foi encontrado")
else:
   print("o numero 3 não foi encontrado")

O numero 3 foi encontrado