<a href="https://colab.research.google.com/github/geovanasiqueira/ENG_20242/blob/main/Atividade3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 Dada uma lista de números inteiros, use uma função lambda para retornar uma lista com o quadrado de cada número.
numeros = [1, 5, 15, 89, 5]
quadrados = list(map(lambda x: x**2, numeros))
print(quadrados)

[1, 25, 225, 7921, 25]

In [2]:
#2 Dada uma lista de temperaturas em Celsius, use uma função lambda para convertê-las em Fahrenheit.
temperaturas_celsius = [8, 20, 25, 99, -10]
temperaturas_fahrenheit = list(map(lambda c: (c * 9/5) + 32, temperaturas_celsius))
print(temperaturas_fahrenheit)

[46.4, 68.0, 77.0, 210.2, 14.0]

In [3]:
#3 Dada uma lista de palavras, use uma função lambda para retornar uma lista com o comprimento de cada palavra.
palavras = ["mitsuki", "maça", "potter"]
comprimentos = list(map(lambda p: len(p), palavras))
print(comprimentos)

[7, 4, 6]

In [4]:
#4 Use uma função lambda para dobrar os valores de uma lista de inteiros
numeros = [85, 9, 15, 7]
dobrados = list(map(lambda x: x * 2, numeros))
print(dobrados)

[170, 18, 30, 14]

In [5]:
#5 Dada uma lista de nomes, use uma função lambda para adicionar o prefixo "Sr./Sra." antes de cada nome.

nomes = ["Alicia", "Maria", "Anna", "Nicolly", "Josue"]
nomes_com_prefixo = list(map(lambda nome: "Sr." + " " + nome if nome != "Maria" and nome != "Ana" else "Sra." + " " + nome, nomes))
print(nomes_com_prefixo)

['Sr. Alicia', 'Sra. Maria', 'Sr. Anna', 'Sr. Nicolly', 'Sr. Josue']

In [8]:
#6 Dada uma lista de números, use uma função lambda para retornar apenas os números pares.
numeros = [10, 15, 82, 7, 3]
numeros_pares = list(filter(lambda x: x % 2 == 0, numeros))
print(numeros_pares)

[10, 82]

In [9]:
#7 Dada uma lista de palavras, use uma função lambda para retornar apenas as palavras com menos de 5 caracteres.
palavras = ["lua", "chocolate", "sorvete"]
palavras_curta = list(filter(lambda p: len(p) < 5, palavras))
print(palavras_curta)

['lua']

In [10]:
#8 Dada uma lista de idades, use uma função lambda para retornar apenas as idades maiores que 18.
idades = [18, 6, 15, 21, 38]
idades_maiores_que_18 = list(filter(lambda x: x > 18, idades))
print(idades_maiores_que_18)

[21, 38]

In [11]:
#9 Dada uma lista de strings, use uma função lambda para retornar as strings que começam com a letra "a".
strings = ["laranja", "algodão", "esmalte", "uva"]
strings_com_a = list(filter(lambda s: s.startswith('a'), strings))
print(strings_com_a)

['algodão']

In [14]:
#10 Dada uma lista de números inteiros, use uma função lambda para retornar apenas os números positivos.
numeros = [15, 26, 8, 16, -3]
numeros_positivos = list(filter(lambda x: x > 0, numeros))
print(numeros_positivos)

[15, 26, 8, 16]

In [26]:
#11 Use uma função lambda para calcular a soma de uma lista de números.
numeros = [15, 26, 8, 16]
soma = sum(numeros)
print(soma)

65

In [28]:
#12 Use uma função lambda para multiplicar todos os elementos de uma lista.
numeros = [8, 12, 11, 6]
multiplicacao = 1
for numero in numeros:
    multiplicacao *= numero
    print(multiplicacao)

8
96
1056
6336

In [29]:
#13 Use uma função lambda para encontrar o maior número em uma lista
numeros = [9, 16, 13, 7]
maior_numero = max(numeros)
print(maior_numero)

16