<a href="https://colab.research.google.com/github/geovanasiqueira/ENG_20242/blob/main/24-10-24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.
lista_numeros = [1,2,3,4,5]
for numero in lista_numeros:
   print(numero * 2)

2
4
6
8
10

In [ ]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.
frutas = ["maçã", "banana", "laranja", "uva"]
frutas[frutas.index('banana')] = 'melancia'
print(frutas)

['maçã', 'melancia', 'laranja', 'uva']

In [ ]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.
minha_lista = {10,25,2,35,40}
maior_valor = max(minha_lista)
print(maior_valor)
menor_valor = min(minha_lista)
print(menor_valor)

40
2

In [ ]:
#4 Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.
minha_lista = ["alice", "livia", "ana", "nicolly"]
nova_lista = []
for palavra in minha_lista:
   nova_lista.append(len(palavra))
print(nova_lista)

[5, 5, 3, 7]

In [ ]:
#5 Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.
minha_lista = {7,21,9,15,98,6}
nova_lista = sorted(minha_lista)
print(nova_lista)

[6, 7, 9, 15, 21, 98]

In [ ]:
#6 Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.
meus_numeros = (1,2,3,4,5)
print(meus_numeros[1])
meus_numeros[2] = 8

2

TypeError: 'tuple' object does not support item assignment

In [ ]:
#7Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.
numeros_tupla = (5,9,15,20)
soma = sum(numeros_tupla)
print(soma)

49

In [ ]:
#8 Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.
numeros_tupla = (2,3,4,5)
primeiro_numero = numeros_tuplas[0]
ultimo_numero = numeros_tuplas[-1]
print(primeiro_numero)
print(ultimo_numero)

5
6

In [ ]:
#9 Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.
minha_lista = ("a", "b", "c", "d")
minha_tupla = tuple(minha_lista)
print(type(minha_tupla))

<class 'tuple'>

In [ ]:
 #10 Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.
minha_tupla = (1,2,3)
if 3 in minha_tupla:
   print("O numero 3 foi encontrado")
else:
   print("o numero 3 não foi encontrado")

O numero 3 foi encontrado

In [ ]:
 #11Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.
 set1 = {1, 2, 3, 4}
 set2 = {3, 4, 5, 6}
uniao = set1.union(set2)
print(uniao)
intersecao = set1.intersection(set2)
print(intersecao)
diferenca = set1.difference(set2)
print(diferenca)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [ ]:
#12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.
lista = [1, 2, 2, 3, 4, 4, 5]
sem_duplicadas = set(lista)
print(sem_duplicadas)

{1, 2, 3, 4, 5}

In [ ]:
#13Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.
um_set = {5, 10, 15, 20}
um_set.add(25)
print(um_set)
um_set.remove(15)
print(um_set)

{5, 10, 15, 20, 25}
{5, 10, 20, 25}

In [ ]:
#14Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.
um_set = {1, 2, 3, 4, 5}
if 7 in um_set:
   print("Numero 7 foi encontrado")
else:
    print("número 7 não foi encontrado")

número 7 não foi encontrado

In [ ]:
#15 Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.
um_set = set()
for i in range (1,15):
  um_set.add(i)
  print(um_set)

{1}
{1, 2}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
#16 Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.
um_dicionario = {'nome': 'Ana', 'idade' : 22, 'curso': 'Engenharia'}
um_dicionario['universidade'] = 'USP'
print(um_dicionario)

{'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}

In [ ]:
# 17 Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir
um_dicionario = {'filme' : 'enrolados' , 'ano' : '2010' }
for chave, valor in um_dicionario.items():
  print(f'chave: {chave}, valor: {valor}')

chave: filme, valor: enrolados
chave: ano, valor: 2010

In [ ]:
#18 Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.
um_dicionario = {'aluno1' : 'alberto', 'nota1' : '10' , 'aluno2' : 'antonio', 'nota2' : '5' }
for chave, valor in um_dicionario.items():
  print(f'chave : {chave}, valor : {valor}')

chave : aluno1, valor : alberto
chave : nota1, valor : 10
chave : aluno2, valor : antonio
chave : nota2, valor : 5

In [ ]:
#19 Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.
alunos = {'maria': [10,8,7], 'ana' : [5,8,7]}
busca = input("digite o nome do aluno")
if busca in alunos:
  print(alunos[busca])

else:
  print("aluno não encontrado")

digite o nome do alunomaria
[10, 8, 7]

In [2]:
#20 Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.
um_dicionario = {'pão' : 2.50, 'leite': 3.00, 'café': 4.50}
alteração = input('qual ira alterar?')
novo_valor = float(input('qual novo valor?'))
um_dicionario[alteração] = novo_valor
print(um_dicionario)

qual ira alterar?pão
qual novo valor?5
{'pão': 5.0, 'leite': 3.0, 'café': 4.5}